.notFound {
    color: white;
    margin: 0 auto;
    max-width: 35rem;
    position: relative;
    top: 25rem;
    font-size: $l-size;
}

.notFound a{
    position: relative;
    left: 10rem;
    text-decoration: none;
}

.notFound__button{
    background: $header-background;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}